@import "bootswatch/cerulean/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// Responsive styles go here in case you want them
@import "bootstrap-responsive";

// And finally bootswatch style itself
@import "bootswatch/cerulean/bootswatch";

// Whatever application styles you have go last
//@import "base";

body {
    
    background: #2196f3;  
    background: -webkit-linear-gradient(to left, #2196f3, #f44336); 
    background: linear-gradient(to left, #2196f3 , #f44336); 
} 
#main-nav-collapse {
    display: inline;
}

